# OS
.DS_Store

# IntelliJ
*.iml
**/.idea/**
.editorconfig

# Gradle
.gradle
**/out/**

# Web
**/bower_components
**/node_modules
**/jspm_packages
**/.tmp
**/npm-debug.*
link-checker-results.txt
**/app/**/*.js
**/*.js.map
**/e2e/**/*.js
**/e2e/**/*.js.map
_test-output
_temp
frontend/dist/**
frontend/dll/**

# Android
*.apk
/local.properties
**/build
/captures
output.json
.externalNativeBuild

# Misc
